<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-3 color-secondary-yellow sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
        <li><a href="#">Make Nav</a></li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-body">
          BBB Info
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          South Location
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          North Location
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-sm-9">
      <h1>Welcome to Vogt Country</h1>

      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <img data-src="holder.js/100%x275/text:Rotation" alt="Rotation">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <img data-src="holder.js/100%x50/text:Email Sign Up" alt="Rotation">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x175/text:Featured Unit" alt="...">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x175/text:Featured Unit" alt="...">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x175/text:Featured Unit" alt="...">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <img data-src="holder.js/100%x275/text:Dealership Info" alt="Rotation">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


