<% provide(:title, "RV Parts") %>


<div class="color-secondary-orange">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Get the RV parts you need</h3>

        <h2>With Vogt RV's Parts Department</h2>
      </div>
    </div>
  </div>
</div>

<div class="color-secondary-yellow-lt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>Vogt Parts Department - 5624 Airport Freeway - Fort Worth, TX 76117 - 817.831.4222</h5>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <section class="bg-secondary-blue-lt-2 clearfix content-area">

    <div class="row">

      <div class="col-lg-12">
        <section>
          <p>If you're not familiar with Vogt RV, Our Family has been in the recreational business since 1945 in the
            Fort Worth, Texas area. Over the last 10 years, we have sold more New Motorhomes in Texas than any other
            Dealership. We have two Stores in the DFW area. We have decided to use this concept to bring you great deals
            on RV Parts, Supplies and Accessories. Also a Bonus Marine Parts and Accessories Catalog</p>

          <p>Our desire is to earn your business and we are NOW offering our online customers easy access to two of the
            largest RV Parts Distributors Catalogs in the country. What makes this unique is it gives YOU the
            opportunity to browse both RV catalogs and a Marine catalog, compare prices and purchase at the best
            possible price available.</p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <section>
          <p>We can keep our prices low because you order directly from these Distributors. They handle the payment,
            packaging and ship directly to you, so you know you will be getting the newest stock and not something
            that's been sitting around on a dealers shelf for months or years. So, have fun shopping.</p>

          <p>Throughout these catalogs you will find parts from the leading manufactures of RV and Marine Parts and
            appliances, including Coleman, Dometic, Norcold, Carefree, A&E, Valterra, Duo-Therm, SeaLand, Thedford,
            Aqua-Magic, Porti-Potti, Maxx Air, FanTastic, Shurflo, Onan and many others. Shop for all types and brands
            of RV parts supplies & accessories. </p>
        </section>

      </div>
      <div class="col-lg-4">
        <img data-src="holder.js/100%x200/text:Parts Links" alt="...">
      </div>

    </div>
  </section>
</div>