<% provide(:title, "RV Service") %>


<div class="color-secondary-orange">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Get back on the road</h3>

        <h2>With Vogt RV's Service Department</h2>
      </div>
    </div>
  </div>
</div>

<div class="color-secondary-yellow-lt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>Vogt Service Department - 5624 Airport Freeway - Fort Worth, TX 76117 - 817.831.4222</h5>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <section class="bg-secondary-blue-lt-2 clearfix content-area">
    <div class="row">


      <div class="col-lg-6">
        <section>
          <p>Vogt RV Service Department in Forth Worth Texas has the experience, training, knowledge, and resources to
            keep your wheels rolling. From small towables, large motor coaches, hitch work, tow bar installations,
            appliances, and accessory installations, we offer a comprehensive list of services to keep you focused on
            what is important...YOUR RECREATION!</p>

          <p>Give us a call at 817.831.4222 to schedule your appointment or set up an appointment online!</p>
        </section>
        <section>
          <h5>Why choose Vogt RV for your RV service needs?</h5>
          <ul>
            <li>Over 50 Years combined RV service experience!</li>
            <li>Certified and Master Certified technicians on duty!</li>
            <li>Many repairs done while you wait!</li>
            <li>We specialize in insurance repairs!</li>
            <li>We specialize in storm damage repairs!</li>
            <li>We work with most extended service policies!</li>
            <li>We do warranty repairs for many manufacturers!</li>
            <li>We do hitch installations!</li>
          </ul>
        </section>

      </div>
      <div class="col-lg-6">
        <img data-src="holder.js/100%x500/text:Service Form" alt="...">
      </div>

    </div>
  </section>
</div>