<% provide(:title, @user.name) %>

<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <section class="bg-secondary-blue-lt-2 clearfix content-area">
      <aside class="col-lg-4">
        <section>
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </section>
      </aside>
      <div class="col-lg-8">
        <h1>Content</h1>
      </div>
    </section>
  </div>
</div>
