<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x75" alt="...">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <p>Copyright Vogt RV Center<br>
          <a href="#">Sitemap</a> | <a href="#">About Us</a> | <a href="#">Contact Webmaster</a>
        </p>
      </div>
      <div class="col-lg-7">
        <p>
          <a href="http://www.facebook.com/VogtRVcenter" target="_blank"><span class="glyphicon glyphicon-star"></span></a>
          <a href="https://plus.google.com/108753290964609019377/posts" target="_blank"><span class="glyphicon glyphicon-star"></span></a>
          <a href="http://twitter.com/vogtrv" target="_blank"><span class="glyphicon glyphicon-star"></span></a>
        </p>
      </div>
    </div>

  </div>

</footer>